* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Ubuntu Mono derivative Powerline;
    font-size: 12px;
    font-weight: bold;
}
#window, #outer-box, #input, #inner-box, #entry {
    color: white;
}

#window {
    background-color: rgba(43, 48, 59, 1.0);
    // border: 3px solid rgb(250,218,119); 
    border: 3px solid #285577; 
    border-radius: 8px;
}

#outer-box {
    margin: 10px;
}

#input {
     margin-bottom: 10px;
     background-color: rgb(43, 48, 59);
     border: 1px solid white;
     border-radius: 4px;
 }

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
}

#entry:selected {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
